## in build basic data structure

In [3]:
list = [[1,2,["rofiq","sidiqque", 5.6, 100/2],7],[89,45]]
list.append(33)
print(list)

[[1, 2, ['rofiq', 'sidiqque', 5.6, 50.0], 7], [89, 45], 33]

In [4]:
list_2D = [[1,2],[3,2]]
list_2D.append([4,3])
print(list_2D)

[[1, 2], [3, 2], [4, 3]]

In [5]:
tuple = (1,2,5, [56,23], "nayeem")
print(tuple)

(1, 2, 5, [56, 23], 'nayeem')

In [11]:
dictionary = {
    "name": "Rakib",
    "age": 32,
    "country": "Bangladesh"
}

print(dictionary["name"])
dictionary["age"] = 45
dictionary["uni"] = "IUB"
print(dictionary["age"], dictionary["uni"])

Rakib
45 IUB

In [12]:
set = {1,2,2,3,3,"Kuddus"}
print(set)

{1, 2, 3, 'Kuddus'}

In [22]:
nums = [1,2,3,4,5,6,7,8,9]
print(nums[1:4])
print(nums[-3:])
print(nums[::3])
print(nums[::-2])
print(nums[::-1])
print(nums[:-3])

[2, 3, 4]
[7, 8, 9]
[1, 4, 7]
[9, 7, 5, 3, 1]
[9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]

In [27]:
samples = [0,1,"","rofiq",{},{"name": "Rakib"}, None]

for sample in samples:
    if sample:
        print(sample, " there is an element")
    else:
        print(sample, " there is no element")

0  there is no element
1  there is an element
  there is no element
rofiq  there is an element
{}  there is no element
{'name': 'Rakib'}  there is an element
None  there is no element

In [28]:
# format string

name = "Nayeem"
score = 98
print(f"{name} scored {score}% (next: {score + 1}%)")

Nayeem scored 98% (next: 99%)

In [35]:
## nested data structure

data = {
    "user": {
        "name": "Rakib",
        "id": 56678,
        "contact": {
            "email": ["rakib@gmail.com","rakib@outlook.com"],
            "phone": ["01556343454","01554215452"]
        },
        "address": {
            "zip": 3600,
            "city":"Chadpur",
            "division": "Chottogram"
        }
    },
    "items": [
        {
            "name": "Macbook Air M1",
            "price": 81000
        },
        {
            "name": "Samsung Fold 7",
            "price": 190000
        }
    ]
}


print(f"User name {data['user']['name']} \n email: {data['user']['contact']['email'][1]} \n City: {data['user']['address']['city']}")
print(f"first item price: {data['items'][0]['price']}")

User name Rakib
 email: rakib@outlook.com
 City: Chadpur
first item price: 81000

In [6]:
order_data = {
    "customer": {
        "first_name": "Bob",
        "last_name": "Johnson"
    },
    "items": [
        {"item_name": "Book",
         "price": 25.99
         },
        {"item_name": "Notebook",
         "price": 4.50
         },
        {"item_name": "Pen",
         "price": 1.20
         }
    ]
}

# list comprehension for loop using

# 1. Customers full name
full_name = f"{order_data['customer']['first_name']} {order_data['customer']['last_name']}"
print(f"Customer full name: {full_name}")

# 2. Total price of all items
total_price = round(sum(item["price"] for item in order_data["items"]),2)
print(f"total order price: {total_price}")

# 3. List of item names
item_names = [item["item_name"] for item in order_data["items"]]
print("Item Names:", item_names)

Customer full name: Bob Johnson
total order price: 31.69
Item Names: ['Book', 'Notebook', 'Pen']